
main {

    *, ::before, ::after {
        box-sizing: border-box;
    }
    
    .Forgot_main {
        flex: 1 1 0%;
        min-width: 1080px;
        
    }

    .Forgot_body {
        max-width: 100%;
        width: 100%;
        height: 100%;
        padding: 3.4rem 0;
        background-color: rgb(250, 250, 250);
    }

    .Forgot_box {
        width: 100%;
        max-width: 500px;
        margin : 0px auto;
        padding: 0px 1.25rem;
        background: inherit; 
    
        .Forgot_title_box {
            text-align: center;
            width: 100%;
            max-width: 100%;
            margin: 0 0 1.875rem;
            height: auto;

            .Forgot_title {
                font-size: 2rem;
                color: rgb(34, 40, 49);
                font-weight: 500;                
                margin: 0px 0px 0.5rem;
                font-style: bold;
            }

            .Forgot_description {
                font-size: 0.8rem;
                color: rgb(34, 40, 49);
            }
        }
    }

    .Forgot_form {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        padding: 0px 0.5rem;

        .Forgot_input {
            position: relative;
            color: rgb(121, 121, 121);

            .Forgot_inputbox {
                width: 100%;
                padding: 1rem 0.75rem;
                background-color: rgb(255, 255, 255);
                border: 1px solid rgb(229, 229, 229);
                border-radius: 4px;
                font-size: 14px;
            }

            .Forgot_inputlabel {
                position: absolute;
                top: 1rem;
                left: 0.5rem;
                padding: 0px 5px;
                transition: all 0.3s ease 0s;
                pointer-events: none;
                font-size: 14px;
            }

            .Forgot_span {
                display: none;
                color: rgb(245, 0, 0);
                font-size: 12px;
            }

            .Forgot_p {
                text-align: left;
                padding: 0.25rem 0.5rem 0;
                color: rgb(245, 0, 0);
                font-size: 0.875rem;
                margin: 0;
            }
        }

        .Forgot_button_submit {
            background-color: rgb(245, 124, 0);
            border: 1px solid rgb(245, 124, 0);
            color: rgb(255, 255, 255);
            transition: all 0.3s ease 0s;

            display: block;
            width: 100%;
            padding: 0.85rem 2.18rem;
            border: none;
            border-radius: 4px;
            font-size: 1rem;
            font-weight: 500;
        }

        .Forgot_button_join {
            background-color: rgb(255, 255, 255);
            border: 1px solid rgb(229, 229, 229);
            color: rgb(51, 51, 51);
            transition: all 0.3s ease 0s;

            display: block;
            width: 100%;
            padding: 0.85rem 2.18rem;
            border: none;
            border-radius: 4px;
            font-size: 1rem;
            font-weight: 500;
        }
    }

}